.item {
    align-items: center;
    display: flex;
    list-style: none;
    padding: 15px;
    width: 400px;
}

.img {
    background-color: #B2B2B2;
    height: 150px;
    margin-right: 15px;
    width: 150px;
}

.title {
    font-size: 22px;
}